body {
    margin: 0;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("1920.jpg");
    background-size: cover;
    background-position: center;
}

@media (max-width: 1280px) {
    .hero {
        background-image: url("1280.jpg");
    }
}


@media (max-width: 640px) {
    .hero {
        background-image: url("640.webp");
    }
}